@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.main-container {
  display: flex;
  width: 1200px;
  height: 600px;
}

.side-panel {
  background-color: #eeeeaa;
  width: 200px;
}

.time-money-row {
  display: flex;
}

.time-money-item {
  flex: 1;
}

.purchasable-row {

}

.purchasable {
  display: none;
}

.purchasable.active {
  display: block;
}

.main-panel {
  background-color: #aaeeee;
  flex: 1;
}

.top-bar {
  background-color: #eeaaee;
  height: 60px;
}

.meter-container {
  display: inline-block;
  width: 33%;
  text-align: center;
}

progress {
  margin: 0 auto;
  width: 80%;
}

#messages {
  height: 60px;
  overflow: hidden;
}

#neighborhood-view {
  display: flex;
  flex-wrap: wrap;
}


/* Normalizers: */

body {
  margin: 0;
}
