div#errors {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 750px;
  width: 200px;
  overflow: hidden;
}

div#wrapper {
    margin: auto;
    width: 700px;
    padding: 20px 0 0 220px;
    position: relative;
}

.house {
  width: 230px;
  display: inline-block;
}
